.loginForm{
	display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
}

#carregando{
	display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    width: inherit;
    position: fixed;
    background-color: #dcdcdcb8;
    z-index: 10000;
}

#holder{
	height: inherit;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.chip:hover{
    color: rgb(70, 167, 154);
    cursor: pointer;
}